<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

  <!-- Navigation -->
  <%- include('layouts/navbar'); -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Welcome to My Blog</h1>
            <span class="subheading">Latest Posts</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <% if (!blogposts || blogposts.length === 0) { %>
          <p>No posts available.</p>
        <% } else { %>
          <% blogposts.forEach(blogpost => { %>
            <div class="post-preview">
              <a href="/post/<%= blogpost._id %>">
                <h2 class="post-title"><%= blogpost.title %></h2>
                <h3 class="post-subtitle">
                  <%= blogpost.body ? blogpost.body.substring(0, 100) : 'No content' %>...
                </h3>
              </a>
              <p class="post-meta">
                Posted by
                <a href="#">
                  <%= blogpost.userid && blogpost.userid.username ? blogpost.userid.username : "Unknown User" %>
                </a>
                on <%= blogpost.datePosted ? blogpost.datePosted.toDateString() : 'Unknown date' %>
              </p>
            </div>
            <hr>
          <% }) %>
        <% } %>

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>

  <hr>

  <%- include('layouts/footer'); -%>
  <%- include('layouts/scripts'); -%>

</body>

</html>
